<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Boolzapp</title>
</head>
<body>

    <header></header>
    <main>
        <div id="whatsapp" tabindex="0">
            <div class="left-part">
                <div class="user">
                    <div class="user-icon">
                        <img src="https://randomuser.me/api/portraits/lego/6.jpg">
                    </div>
                    <div class="username">Matteo</div>
                    <div class="pulsantiuser">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="alert">
                    <div class="alert-icon"><i class="fa-solid fa-bell-slash"></i></div>
                    <div class="alert-text">
                        <h5>Ricevi notifiche di nuovi messaggi</h5>
                        <h6>Attiva notifiche desktop</h6>
                    </div>
                </div>
                <div class="search-bar">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input type="text" @keyup="filterItems(contacts, name)"  placeholder="Cerca o inizia nuova chat">
                </div>
                <div id="contatti">
                    <div class="contatto" :class="i === activeContact ? 'active' : '' " @click="cambioContatto(i)" v-for="(contact, i) in contacts" :key="i" >
                        <div class="contatto-icon" ><img :src= "contact.avatar" ></div>
                        <div class="contatto-info">
                            <div class="contatto-nome">{{contact.name}} </div>
                            <div class="contatto-last-message">
                                <h6>Ultmo messaggio inviato: {{contact.date}} </h6>
                            </div>
                        </div>
                        <div class="hour">12:00</div>
                     
                    </div>
                </div>
            </div>
            <div class="right-part">
                <div class="open-chat">
                    <div class="contatto-icon"><img :src="contacts[activeContact].avatar"></div>
                    <div class="contatto-info">
                        <div class="contatto-nome">{{contacts[activeContact].name}} </div>
                        <div class="hour-chat">
                            <h6>Ultmo accesso: {{hourdate()}} </h6>
                        </div>
                    </div>
                    <div class="pulsantiuser">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="messages">
                    <div v-for="(message, i) in contacts[activeContact].messages" :key="i" class="message" :class="contacts[activeContact].messages[i].status === 'sent' ? 'green' : 'grey' ">
                        <div class="text-message">{{contacts[activeContact].messages[i].message}} </div>
                        <div class="time-message"><h6>{{contacts[activeContact].messages[i].date}} </h6></div>
                    </div>
                </div>
                <div class="input-message">
                    <div class="emoticon"><i class="fa-solid fa-face-smile"></i></div>
                    <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="newwrittenMessage(activeContact)"> 
                    <div class="audio"><i class="fa-solid fa-microphone"></i></div>
                </div>
            </div>
        </div>
        
    </main>
    <footer></footer>
    

    <script src="script.js"></script>
</body>
</html>